# Игнорируем папки сборки
build/
cmake-build-*/

# Игнорируем скомпилированные файлы
*.o
*.a
*.so
*.dll
*.exe

# Игнорируем временные файлы
*.tmp
*.temp

# Игнорируе файлы IDE
.vscode/
.idea/
*.swp
*.swo
